<div class="tile-search">
  {{tile-search createMap = "createMap" house=house}}
</div>
<br>
<div class="row">
  <div class="map-display col-xs-5"></div>
  <div class="map-key col-xs-3">
    <ul>
      <li class="key-title"><strong>Key</strong></li>
      <hr>
      <li class='key-li'><img src="images/house-emoji.png" class="key-icon">Your Future Home!</li>
      <li class='key-li'><img src="images/school-emoji.png" class="key-icon">School</li>
      <li class='key-li grocery'><img src="images/grocery-emoji.png" class="key-icon grocery">Grocery Store</li>
      <li class='key-li'><img src="images/hospital-emoji.png" class="key-icon">Hospital</li>
    </ul>
  </div>
</div>
<!-- {{#if distanceMatrixResults}}
  {{distance-matrix distanceMatrixResults}}
{{/if}} -->
