{{#modal-dialog close="goBackToList" translucentOverlay=true container-class='custom-styles-modal'}}
  <span class="glyphicon glyphicon-remove modal-close" {{action 'goBackToList'}}></span>
  {{inside-modal house=model buyHouse="buyHouse"}}
{{/modal-dialog}}
